.slick-dots {
    bottom: -15px !important;
}
.slick-slider {
    max-width: 1240px;
    margin-bottom: 40px !important;
    margin: 0 auto;
}
.slick-slide img {
    outline: none;
}

  .slick-list {
    text-align: -webkit-center;
  }
  