.blue {
    background: #0767c9;
}
.green {
    background: #44b272;
}
.orange {
    background: #fa5b0f;
}
.navy {
    background: #495d7f;
}
.yellow {
    background: #ffb400;
}
.peach {
    background: #fcab55;
}
.beige {
    background: #bfa980;
}
.purple {
    background: #917ae9;
}
.celadon {
    background: #74aea1;
}
.pink {
    background: #d64391;
}
.red {
    background: #dd3737;
}
.brown {
    background: #784e3d;
}
.cherry {
    background: #911938;
}
.cyan {
    background: #37b6bd;
}
.gray {
    background: #555;
}
.olive {
    background: #b3c211;
}